<div class="container">

<p id="notice"><%= notice %></p>

<h1>Products</h1>

<% @products.each do |product| %>
  <%= link_to product do %>
    <div class="row">
      <div class="col-md-4">
        <div class="tile">
          <div class="thumbnail"><%= image_tag '/uploads/product/images/%s/1%s' % [product.id, product.file_extension] %></div>
          <h3 class="title"><%= product.name %></h3>
        </div>
      </div>
    <% end %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= link_to 'New Product', new_product_path %>
  </div>
</div>

</div>

